<%- include('helpers/admin_header') %>

    <h1>Admin: Események</h1>
    <br/>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="save_btn btn btn-success">Mentés</button>
        </div>
        <div class="btn-group" role="group">
            <a href="/admin/events/new" class="btn btn-default" role="button">Új létrehozása</a>
        </div>
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                További események
                <span class="caret"></span>
            </a> <ul class="dropdown-menu">

                <% for (var i=0; i<events.length; i++) {
                    if (events[i]._id != event._id){ %>
                        <li><a href="/admin/events/edit/<%= events[i]._id %>"><%= events[i].name %></a></li>
                <% }} %>

            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="delete_btn btn btn-danger">Törlés</button>
        </div>
    </div>
    <hr/>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">Esemény neve: </span>
        <input type="text" class="form-control" placeholder="" id="name" value="<%= event.name %>" aria-describedby="basic-addon1">
    </div>

    <br/>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Borítókép: </span>
        <input type="text" class="form-control" id="img"  value="<%= event.img %>" aria-describedby="basic-addon1">
        <!--<span id="upload_btn" class="input-group-addon">Feltöltés</span>-->
    </div>
    <br/>
    <div class="container">
        <div id="background" style="
                height: 250px;
                overflow: hidden;
                width: 100%;
                ">
            <div style="
                height: 300px;
                    width: 100%;
                    background:url(../assets/<%= event.img %>) no-repeat center center;
                    background-size: cover">
            </div>
        </div>
    </div>

    <br/>
    <div class="input-group">
        <span class="input-group-addon">Dátum:</span>
        <input type="text" class="form-control" id="date" value="<%= event.date %>" aria-describedby="basic-addon1">
    </div>
<br/>
    <div class="input-group">
        <span class="input-group-addon">Időpont:</span>
        <input type="text" class="form-control" id="time" value="<%= event.time %>" aria-describedby="basic-addon1">
    </div>
<br/>
    <div class="input-group">
        <span class="input-group-addon" id="time">Helyszín:</span>
        <input type="text" class="form-control" id="place" value="<%= event.place %>" aria-describedby="basic-addon1">
    </div>
    <hr/>

    <div class="form-group">
        <label for="comment">Leírás</label>
        <textarea class="form-control" rows="5" id="details"><%= event.details %></textarea>
    </div>

    <hr/>


    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="save_btn btn btn-success">Mentés</button>
        </div>
        <div class="btn-group" role="group">
            <% if(event.active){
                btn_text = "Deaktiválás";
                btn_type = "btn-warning";
            }else{
                btn_text = "Aktiválás";
                btn_type = "btn-primary";
            } %>
            <button type="button" id="activate" class="activate_btn btn <%= btn_type %>"><%= btn_text%></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="delete_btn btn btn-danger">Törlés</button>
        </div>
    </div>

<script>
    <%- include('clientside/admin-events.js') %>
</script>

<%- include('helpers/admin_footer') %>