<%- include('helpers/admin_header') %>

<div class="jumbotron">

    <a href="/admin/events/new" class="new_btn btn btn-success btn-lg" role="button">Új létrehozása</a>

    <h1>Események</h1>

    <div class="list-group">
        <% for (var i=0; i<events.length; i++) { %>
            <a href="/admin/events/edit/<%= events[i]._id %>" class="list-group-item
            <% if(events[i].active){%>
                list-group-item-success
            <%}%>
            "><%= events[i].name %></a>
        <% } %>
    </div>
</div>

<%- include('helpers/admin_footer') %>