<%- include('helpers/admin_header') %>

<div class="jumbotron">

    <a href="/admin/messages/new" class="new_btn btn btn-success btn-lg" role="button">Új létrehozása</a>

    <h1>Korábbi üzenetek és sablonok</h1>

    <div class="list-group">
        <% for (var i=0; i<messages.length; i++) { %>
            <a href="/admin/messages/edit/<%= messages[i].id %>" class="list-group-item"><%= messages[i].name %></a>
        <% } %>
    </div>
</div>

<%- include('helpers/admin_footer') %>