<%- include('helpers/admin_header') %>

    <h1>Admin: Üzenetek</h1>
    <br/>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="save_btn btn btn-success">Mentés</button>
        </div>
        <div class="btn-group" role="group">
            <a href="/admin/messages/new" class="btn btn-default" role="button">Új létrehozása</a>
        </div>
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Korábbi sablonok
                <span class="caret"></span>
            </a> <ul class="dropdown-menu">

                <% for (var i=0; i<messages.length; i++) {
                    if (messages[i].id != msg._id) { %>
                        <li><a href="/admin/messages/edit/<%= messages[i].id %>"><%= messages[i].name %></a></li>
                <% }} %>

            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="delete_btn btn btn-danger">Törlés</button>
        </div>
    </div>
    <hr/>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">Üzenet (sablon) neve: </span>
        <input id="name" type="text" class="form-control" placeholder="" value="<%= msg.name %>" aria-describedby="basic-addon1">
    </div>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1">Tárgy: </span>
        <input id="subject" type="text" class="form-control" placeholder="" value="<%= msg.subject %>" aria-describedby="basic-addon1">
    </div>

    <hr/>

    <div class="form-group">
        <label for="comment">Üzenet tartalma</label>
        <textarea id="content" class="form-control" rows="5"><%= msg.content %></textarea>
    </div>

    <hr/>


    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="save_btn btn btn-success">Mentés</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="send_btn btn btn-primary">Küldés</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="delete_btn btn btn-danger">Törlés</button>
        </div>
    </div>

    <script>
    <%- include('clientside/admin-messages.js') %>
    </script>

<%- include('helpers/admin_footer') %>