<%- include('helpers/header') %>

    <div class="container">

            <div id="background" style="
                height: 250px;
                overflow: hidden;
                width: 100%;
                ">
                <div style="
                height: 300px;
                    width: 100%;
                    background:url(/assets/<%= event.img %>) no-repeat center center;
                    background-size: cover">
                </div>
            </div>
    </div>

    <hr/>

    <div class="container">
        <div class="col-sm-12" >
            <h1>Esemény: <%= event.name %></h1>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-4" >
            <h3>Dátum: <%= event.date %></h3>
        </div>
        <div class="col-sm-4" >
            <h3>Időpont: <%= event.time %></h3>
        </div>
        <div class="col-sm-4" >
            <h3>Helyszín: <%= event.place %></h3>
        </div>
    </div>

    <hr/>
    <div class="container">
        <div class="col-sm-12" >
            <%= event.details %>
        </div>
    </div>

    <hr/>
    <h1>Helyszín</h1>
    <div id="googleMap"></div>

    <%- include('helpers/gmaps') %>

<%- include('helpers/footer') %>