<%- include('helpers/header') %>

    <div class="jumbotron">
        <h1>ISTEN HOZOTT<br/>ITTHON</h1>
    </div>
    <h2>Be vagy jelentkezve?</h2>
    <a href=""></a>

    <h2>Rólunk</h2>
    Uram! A késemért jöttem!<br/>
    Hol hagyta?<br/>
    Valami matrózban.<br/>
    Milyen kés volt?<br/>
    Acél. Keskeny penge, kissé hajlott. Nem látta?<br/>
    Várjunk... Csak lassan, kérem... Milyen volt a nyele?<br/>
    Kagyló.<br/>
    Hány részből?<br/>
    Egy darabból készült.<br/>
    Akkor nincs baj. Megvan a kés!<br/>
    Hol?<br/>
    A hátamban.<br/>
    Köszönöm...<br/>
    Kérem...<br/>
    <hr/>
    <h2>Hírlevél</h2>
    <label for="basic-url">Feliratkozás hírlevelünkre</label>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Email címed:</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <h3></h3>

    <hr/>
    <h2>Helyszín</h2>
<button type="submit" name="submit" class="btn btn-large btn-success">Küldés</button>

    <div id="googleMap"></div>

    <hr/>
    <h2>Programok</h2>

    <!-- Events Grid Section -->
    <section id="events">
        <div class="container">
            <!--<div class="row">-->
                <!--<div class="col-lg-12 text-center">-->
                    <!--<h2>Programok</h2>-->
                    <!--<hr class="star-primary">-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">

                <% for (key in events) { var event = events[key]; %>
                    <%- include('helpers/event_module', {event: event}) %>
                <% } %>

            </div>
        </div>
    </section>

    <hr/>
    <h2>Üzenet</h2>

    <div class="container">
        <div class="col-lg-12">
            <h3>Írjon nekünk</h3>
            <form role="form">
                <!--<form role="form" action="php/email.php" method="post" enctype="plain">-->
                <div class="form-group">
                    <label for="name1">Az Ön neve</label>
                    <input type="name" name="name" class="form-control" id="name1" placeholder="Írja ide a nevét">
                </div>
                <div class="form-group">
                    <label for="email1">E-mail címe</label>
                    <input type="email" name="email" class="form-control" id="email1" placeholder="Írja ide az e-mail címét">
                </div>
                <div class="form-group">
                    <label>Az Ön üzenete</label>
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>
                <br>
                <button type="submit" name="submit" class="btn btn-large btn-success">Küldés</button>
            </form>
        </div>
    </div>

<%- include('helpers/gmaps') %>

<%- include('helpers/footer') %>