.nav-header{
    margin: 20px;
}

@media (min-width: 768px) {
    .navbar-brand{
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        width: 100%;
    }
}

#googleMap{
    width:100%;
    height:300px;
}