<% if(event.active){ %>
    <div class="col-sm-4">
        <a href="event/<%= event._id %>">
            <img src="/assets/<%= event.img %>" class="img-responsive" alt="">
            <h4><%= event.name %></h4>
        </a>
    </div>
<% } %>