
<hr/>

<footer class="footer">
    <p>© 2016 Budapest Connect</p>
    <br/>
    <p><a href="/admin/messages">admin-messages</a></p>
    <br/>
    <p><a href="/admin/events">admin-events</a></p>
</footer>

</div> <!-- /container -->

<!-- jQuery and Bootstrap -->
<script src="/assets/bootstrap.min.js"></script>

</body>
</html>